.outer-paper {
  width: 100%;
  padding: 0;
  margin: 0;
}
.instructions {
  background: linear-gradient(
    297deg,
    rgba(50, 68, 153, 1) 21%,
    rgba(52, 70, 154, 1) 56%,
    rgba(3, 23, 113, 1) 100%,
    rgba(22, 43, 140, 1) 116%
  );
  color: rgb(255, 204, 0);
  width: 100%;
  float: left;
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(16, 16, 116);
  color: rgb(255, 204, 0);
  width: 100%;
  padding-bottom: 20em;
  background: linear-gradient(
    16deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(191, 197, 223, 1) 12%,
    rgba(100, 114, 178, 1) 39%,
    rgba(22, 43, 140, 1) 70%
  );
}

.board {
  background-image: url("https://img.jakpost.net/c/2016/11/07/2016_11_07_15475_1478503843._large.jpg");
  /* background-image: url("https://i.pinimg.com/originals/25/59/8d/25598d99f4d02f36425912b5de5dd475.jpg"); */
  /* background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/36567wide.jpg"); */
  /* background-image: url("https://stmed.net/sites/default/files/the-simpsons-wallpapers-31727-1153554.jpg"); */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-bottom: 1.7em;
  /* padding-top: 5em; */
  animation: animatebottom 1s;
}
.Board {
  padding-left: 7em;
  float: left;
}

.WordList {
  color: rgb(16, 16, 116);
  float: right;
  margin-top: 3em;
  margin-right: 15em;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.6em;
  align-content: center;
  height: 20em;
  width: 7em;
  font-family: "Simpsonfont";
  font-weight: 200;
}

.JoinButton {
  margin-top: 1em;
  font-family: "Simpsonfont";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  align-self: center;
  color: white;
  font-size: 2em;
  background-color: rgb(255, 204, 0);
  border: 0.5px solid black;
  border-radius: 2em;
  word-spacing: 0.2em;
}
.JoinButton:hover {
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  transform: scale(1.2);
}

.h1 {
  font-size: 1.35em;
  font-weight: 300;
  font-family: "Simpsonfont";
  padding-left: 0.5em;
}
.instructionsList {
  font-weight: 200;
  font-size: 0.9em;
  font-family: "Simpsonfont";
  padding-left: 3em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  word-spacing: 0.2em;
}

.gif {
  margin-top: 5em;
  float: left;
  border-radius: 5em;
}
